<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>XYZ.Controller.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentServlet</servlet-name>
        <servlet-class>XYZ.Controller.paymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimServlet</servlet-name>
        <servlet-class>XYZ.Controller.ClaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userHome</servlet-name>
        <jsp-file>/view/userHome.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>userClaims</servlet-name>
        <jsp-file>/view/userClaim.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>XYZ.Controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>XYZ.Controller.signUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkPayment</servlet-name>
        <servlet-class>XYZ.Controller.checkPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimHistory</servlet-name>
        <jsp-file>/view/ClaimHistory.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AnnualTurnoverServlet</servlet-name>
        <servlet-class>XYZ.Controller.AnnualTurnoverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewClaimServlet</servlet-name>
        <servlet-class>XYZ.Controller.UserViewClaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewClaimServlet</servlet-name>
        <servlet-class>XYZ.Controller.AdminViewClaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalServlet</servlet-name>
        <servlet-class>XYZ.Controller.ApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminApprovalServlet</servlet-name>
        <servlet-class>XYZ.Controller.AdminApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>XYZ.Controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MembershipServlet</servlet-name>
        <servlet-class>XYZ.Controller.MembershipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllUsersServlet</servlet-name>
        <servlet-class>XYZ.Controller.ListAllUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuspendServlet</servlet-name>
        <servlet-class>XYZ.Controller.SuspendUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReapproveUserServlet</servlet-name>
        <servlet-class>XYZ.Controller.ReapproveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChargeAllMembers</servlet-name>
        <servlet-class>XYZ.Controller.ChargeAllMembersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPayments</servlet-name>
        <servlet-class>XYZ.Controller.ListPaymentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOutstandingBalancesServlet</servlet-name>
        <servlet-class>XYZ.Controller.ViewOutstandingBalancesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProvisionalMembershipServlet</servlet-name>
        <servlet-class>XYZ.Controller.ViewProvisionalMembershipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentServlet</servlet-name>
        <url-pattern>/paymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimServlet</servlet-name>
        <url-pattern>/ClaimServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userHome</servlet-name>
        <url-pattern>/userHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userClaims</servlet-name>
        <url-pattern>/userClaims</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUpServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkPayment</servlet-name>
        <url-pattern>/checkPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimHistory</servlet-name>
        <url-pattern>/ClaimHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnualTurnoverServlet</servlet-name>
        <url-pattern>/AnnualTurnoverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewClaimServlet</servlet-name>
        <url-pattern>/UserViewClaimServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewClaimServlet</servlet-name>
        <url-pattern>/AdminViewClaimServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalServlet</servlet-name>
        <url-pattern>/ApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminApprovalServlet</servlet-name>
        <url-pattern>/AdminApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MembershipServlet</servlet-name>
        <url-pattern>/MembershipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllUsersServlet</servlet-name>
        <url-pattern>/ListAllUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuspendServlet</servlet-name>
        <url-pattern>/SuspendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReapproveUserServlet</servlet-name>
        <url-pattern>/ReapproveUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChargeAllMembers</servlet-name>
        <url-pattern>/chargeAllMembers.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPayments</servlet-name>
        <url-pattern>/listPayments.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOutstandingBalancesServlet</servlet-name>
        <url-pattern>/ViewOutstandingBalancesServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProvisionalMembershipServlet</servlet-name>
        <url-pattern>/ViewProvisionalMembershipServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
</web-app>
