<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>XYZ.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentServlet</servlet-name>
        <servlet-class>XYZ.paymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClaimServlet</servlet-name>
        <servlet-class>AddClaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimServlet</servlet-name>
        <servlet-class>XYZ.ClaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userHome</servlet-name>
        <jsp-file>/view/userHome.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>userClaims</servlet-name>
        <jsp-file>/view/userClaim.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>XYZ.logoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentServlet</servlet-name>
        <url-pattern>/paymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClaimServlet</servlet-name>
        <url-pattern>/AddClaimServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimServlet</servlet-name>
        <url-pattern>/ClaimServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userHome</servlet-name>
        <url-pattern>/userHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userClaims</servlet-name>
        <url-pattern>/userClaims</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
